<!DOCTYPE hmtl>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">

 
  </head>
  <body >
    <div class="section text-center bg-light text-dark" id="predict">
      <div class="container">
        <h2 class="headings">INSTAGRAM  IMAGE AND VIDEO DOWNLOADER</h2>
      
        <form action "{{url_for('home')}}'' method="POST">
          <label for="url">Enter the url of the image or video u want to download </label>
          <input type="text" " id="url" name="url" /><br />

          <button type="submit" class="btn">Download</button>

           
          </div>
        </form>
      </div>
    </div>
    
  </body>
</html>
